
/* CSS Document By Brainy*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td { margin:0; padding:0; }
table { border-collapse:collapse; border-spacing:0; }
fieldset, iframe, img { border:0; }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal; }
ol, ul { list-style:none; }
caption, th { text-align:left; }
h1, h2, h3, h4, h5, h6 { font-size:100%; color:#000;}
body, button, input, select, textarea { font-family:\5b8b\4f53, Arial, Verdana; font-size:12px;
	height: 66px;
}
/*clear float*/
.ClearBoth { clear:both; font-size:1px; line-height:1px; height:1px; }
/* Clear Fix */ 
.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
/* Hide from IE Mac \*/ 
.clearfix { display:block; }
/* End hide from IE Mac */ 
/* end of clearfix */ 


/* general style */
a{color:#666; text-decoration:none;}

/*frame*/
.frame{width:100%; margin:0 auto; font-family:Microsoft YaHei; font-size:14px;}

.passport{ position:absolute;left:20px;bottom:10px;_bottom:5px; }
.passport img{ position:relative;top:5px;}

/*looklook*/
.look{margin:0px auto;width:800px;height:451px; background:url(../images/lookbg.png) no-repeat; position:relative;}
.look h3{font-size:16px;font-weight:normal;color:#666; line-height:20px; margin:0 0 10px 0;}
.look h3 a{color:#0099cc;}
.look ul{ position:absolute;top:78px;left:44px;}
.look ul li{ margin:0 0 55px 0;}
.look p{ line-height:20px; margin:0 0 10px 0;}
.set{}
.set a{width:150px;height:37px; margin:0 10px 0 0; background-image:url(../images/buttons.png); background-repeat:no-repeat;display:inline-block; }
.set a.head{ background-position: 0px -166px;}
.set a.pass{ background-position: 0px -210px;}
.set a.info{ background-position: 0px -250px;width:180px;}
.set a.index{ background-position: 0px -287px;width:180px;}
.set a.down{ background-position: 0px -123px;}
.set a.enter{ background-position: 0px 3px;}
.set a.game{ background-position: 0px -42px;}
.set a.wap{ background-position: 0px -84px;}

.reg{width:1000px; margin:0px auto;font-size:12px;}
.reg h2{ text-align:center;font-size:18px;font-weight:normal; color:#333; margin:0 0 20px 0;}
.regbox{width:762px; position:fixed;}
.reg h1{height:50px; background:url(../images/regbox.png) no-repeat;}
.regbox ul{ padding:0px 0 20px 20px; background:#fafafa;border:1px solid #e8e8e8; border-top:none; }
.regbox ul li{clear:both;}
.regbox ul li.pt{ padding:20px 0 0 0;padding-top:15px;}
.regbox ul li.codeli{ position:relative;_margin-top:-50px;}
.regbox span{width:90px;float:left; color:#0099cc; text-align:right;height:35px; line-height:35px;}
.regbox select{width:100px; display:block; margin:0 5px 0 0; padding:0 5px;height:30px; line-height:30px; border:none 0; background:url(../images/inputbg_1.png) no-repeat;float:left;}
.regbox input{width:226px; display:block; margin:0 5px 0 0; padding:0 5px;height:35px; line-height:35px; border:none 0; background:url(../images/inputbg_1.png) no-repeat;float:left;}
.regbox em{width:350px;height:37px; padding:0 0 0 20px;float:left;line-height:35px; background-image:url(../images/alltips.png); background-repeat:no-repeat;display:block;}
.regbox em.tips{ background-position:0px -74px;color:#FFF;}
.regbox em.wrong{ background-position:0px -37px;color:#F00;}
.regbox em.right{ background-position:0px 0px;color:#339933;}


.regbox b{font-weight:normal;color:#999; float:left; padding:4px 0 4px 100px; width:500px;}
.regbox label{color:#dd0000;}
.regbox strong{font-weight:normal;color:#000;}
.regbox .i{height:12px; background:url(../images/allbgs.png) no-repeat 0px -30px;height:10px;padding-left:138px;display:inline-block; margin:0 4px;font-size:0px;}
.regbox .i1{height:12px; background:url(../images/allbgs.png) no-repeat 0px -20px;height:10px;padding-left:138px;display:inline-block; margin:0 4px; font-size:0px;}
.regbox .i2{height:12px; background:url(../images/allbgs.png) no-repeat 0px -10px;height:10px;padding-left:138px;display:inline-block; margin:0 4px;font-size:0px;}
.regbox .i3{height:12px; background:url(../images/allbgs.png) no-repeat 0px -0px;height:10px;padding-left:138px;display:inline-block; margin:0 4px;font-size:0px;}

.regbox h4{font-size:12px;color:#999; padding:8px 0 10px 0;font-weight:normal;}
.codebox{ margin:0 0 0 96px;_margin:0 0 0 48px; margin:0 0 0 96px\0;float:left;}
a.regbutton{width:203px;height:47px; margin:35px 0 0 0; background:url(../images/regbutton.png) no-repeat;display:block;float:left;}
.regbox input.checkbox{width:auto;height:auto; vertical-align:middle; position:relative;top:3px;top:1px;}
.agree{ padding:20px 0 0 0;padding:0;}
.agree a{color:#0099cc;}
.finish{ background:url(../images/finishregbg.png) no-repeat;font-size:14px; line-height:20px;}
.regbox dl{ padding:147px 0 0 313px;}
.regbox a{color:#0099cc;}
.regbox dl dd{ padding:7px 0;}
a.toemail{width:220px;height:50px;display:block;}
.regbox dl.not{padding:56px 0 0 343px;}

.ld{width:4px;height:4px; background:url(../images/ld.gif) no-repeat; position:absolute;left:0;bottom:0px;_bottom:-15px; z-index:999;}
.rd{width:4px;height:4px; background:url(../images/rd.gif) no-repeat; position:absolute;right:0;bottom:0px;_bottom:-15px;  z-index:999;}


/*add on 20110603*/
.veribox{width:762px; position:relative;font-family:Microsoft YaHei; }
.veribox h1{height:40px; background:url(../images/emailide.png) no-repeat;}
.veribox ul{ padding:30px 0 20px 30px; background:#fafafa;border:1px solid #e8e8e8; border-top:none; }
.veribox ul li.success{font-size:26px; line-height:26px;color:#00bd00;background:url(../images/check.gif) no-repeat 0 center; padding:0 0 0 40px;height:26px;}
.veribox ul li.message{font-size:14px; margin:30px 0 0 0;}
.veribox ul li.message span{color:#0099cc;}
.veribox ul li.buttons{margin:30px 0 200px 0;}
.veribox ul li.buttons a{width:165px;height:37px; margin:0 12px 0 0; background-image:url(../images/buttons.png); background-repeat:no-repeat;display:inline-block;}
.veribox ul li.buttons a.perinfo{ background-position:0px -250px;}
.veribox ul li.buttons a.tomusic{ background-position:0px -289px;}
.veribox ul li.buttons a.tosoft{ background-position:0px -328px;}


/*modify on 20110613 begin*/
.finish{font-size:14px; line-height:20px;}
.finish h1{ background:url(../images/finishregbg.png) no-repeat;}
.finish ul{ padding:0; background:#fafafa url(../images/finishboxbg.jpg) no-repeat;}
.finish ul dl dd.success{font-size:26px; line-height:26px;color:#00bd00;background:url(../images/check.gif) no-repeat 0 center; padding:0 0 0 40px;height:26px; margin:0 0 10px -40px;}

.regbox dl{ padding:47px 0 0 313px;}

.regbox a{color:#0099cc;}
.regbox dl dd{ padding:7px 0;}
a.toemail{width:220px;height:50px;display:block;}
.regbox dl.not{padding:16px 0 10px 313px;}
.regbox dl.not dt{font-size:24px;font-family:Microsoft YaHei; color:#333; margin:0 0 10px 0;}
.regbox dl.not span{width:17px;height:16px; background:url(../images/itembg.png) no-repeat; margin:0 5px 0 0; position:relative;top:4px;color:#FFF; line-height:16px; text-align:center;display:inline-block;}

.ld{width:4px;height:4px; background:url(../images/ld.gif) no-repeat; position:absolute;left:0;bottom:0px;_bottom:-15px; z-index:999;}
.rd{width:4px;height:4px; background:url(../images/rd.gif) no-repeat; position:absolute;right:0;bottom:0px;_bottom:-15px;  z-index:999;}
/*modify on 20110613 end*/