BODY {
	FONT-SIZE: 12px; MARGIN: 0px; COLOR: #000000; FONT-FAMILY: "宋体"
}
A:link {
	FONT-SIZE: 12px; COLOR: #0155c7; TEXT-DECORATION: underline
}
A:visited {
	FONT-SIZE: 12px; COLOR: #0155c7; TEXT-DECORATION: none
}
A:active {
	FONT-SIZE: 12px; COLOR: #0155c7; TEXT-DECORATION: none
}
A:hover {
	FONT-SIZE: 12px; COLOR: #068ddb; TEXT-DECORATION: none
}
.title-18 {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 18px; PADDING-BOTTOM: 20px; COLOR: #005298; PADDING-TOP: 0px; FONT-FAMILY: "宋体"; TEXT-ALIGN: center
}
.login-table 
{
	  background-position:center;
BACKGROUND: url(../images/snow.png) #c1d9ec; 
 width:100%
}
.login-table TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 20px
}
.title-explain {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #c1d9ec; MARGIN-BOTTOM: 10px; PADDING-BOTTOM: 3px; COLOR: #000000; PADDING-TOP: 3px; TEXT-ALIGN: center
}
.red {
	FONT-SIZE: 12px; COLOR: #ff1e00
}
.right {
	BORDER-RIGHT: #d8dee7 1px solid; PADDING-RIGHT: 15px; BORDER-TOP: #d8dee7 1px solid; PADDING-LEFT: 15px; FONT-SIZE: 12px; BACKGROUND: #fff; PADDING-BOTTOM: 15px; BORDER-LEFT: #d8dee7 1px solid; PADDING-TOP: 15px; BORDER-BOTTOM: #d8dee7 1px solid
}
.title-n {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-BOTTOM: 0px; COLOR: #2a6ba2; PADDING-TOP: 0px; BORDER-BOTTOM: #dbdbdb 2px solid; FONT-FAMILY: Arial, Helvetica, sans-serif; TEXT-ALIGN: left
}
.title-clew {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; MARGIN-BOTTOM: 10px; COLOR: #2a6ba2; TEXT-ALIGN: left
}
.clew {
	PADDING-RIGHT: 10px; BORDER-TOP: #666666 1px dotted; PADDING-LEFT: 10px; FONT-SIZE: 12px; BACKGROUND: #f8f8f8; PADDING-BOTTOM: 10px; LINE-HEIGHT: 20px; PADDING-TOP: 10px
}
FORM {
	FONT-SIZE: 14px; MARGIN: 15px 0px
}
FORM .input {
	BORDER-RIGHT: #9c9c9c 1px solid; BORDER-TOP: #9c9c9c 1px solid; FONT-SIZE: 12px; BACKGROUND: #f4f4f4; BORDER-LEFT: #9c9c9c 1px solid; WIDTH: 160px; BORDER-BOTTOM: #9c9c9c 1px solid; HEIGHT: 20px
}

/* Header */
#outer
{

}
#header
{
	background:#07454C url('../images/1.jpg') top right repeat ;
	position:fixed;
	margin-left:0em;
	margin-right:0em;
	margin-top:0px;
	height: 100px;
	width: 100%;
	
	
	
}

#header h1
{
	position: absolute;
	top: 0.8em;
	left: 1.0em; 
	font-size: 3em;
	color: #fff;
	
}

#header h2
{
	position: absolute;
	top: 7em;
	left: 4.5em; 
	font-size: 1.8em;
	font-weight: normal;
	color: #fff;
}
